<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temporary CDN</title>
  </head>
  <body style="text-align: center">
    <div style="display: inline-block; text-align: left"><%- content %></div>
  </body>
</html>
