<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temporary CDN</title>
    <link rel="stylesheet" href="//wtto00.github.io/cdn/lib/github-markdown-css/github-markdown.css" />
    <link rel="stylesheet" href="./lib/github-markdown-css/github-markdown.css" />
    <style>
      .markdown-body {
        text-align: center;
      }
      .markdown-body > div {
        display: inline-block;
        text-align: left;
      }
    </style>
  </head>
  <body class="markdown-body">
    <div><%- content %></div>
  </body>
</html>
